<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>OnlineStore Service</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">...</div>

	<table class="table bg-light text-dark">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Picture</th>
				<th>Volume</th>
				<th>Price</th>
				<th>In-Stock</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="crate : ${crates}">
				<td><input type="checkbox" name="myBooleanVariable"
					th:checked="${myBooleanVariable}" /></td>
				<td th:text="${crate.name}"></td>
				<td th:text="${crate.cratePic}"></td>
				<td th:text="${crate.noOfBottles}"></td>
				<td th:text="${crate.price}"></td>
				<td th:text="${crate.inStock}"></td>
			</tr>
			<tr th:each="bottle : ${bottles}">
				<td><input type="checkbox" name="myBooleanVariable"
					th:checked="${myBooleanVariable}" /></td>
				<td th:text="${bottle.name}"></td>
				<td th:text="${bottle.bottlePic}"></td>
				<td th:text="${bottle.volume}"></td>
				<td th:text="${bottle.price}"></td>
				<td th:text="${bottle.inStock}"></td>
			</tr>
			<!-- <tr th:each="beverage : ${beverages}">
				<td th:text="${beverage.beverageId}"></td>
				<td th:text="${beverage.type}"></td>
			</tr>  -->
		</tbody>
	</table>
	<div><button th:onclick="'javascript:addToCart('hi')'">Add to Cart</button></div>
	<br/>

	<!-- <div th:replace="fragments/pageNavigation :: pageNavigation">...</div> -->

	<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>